{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Thêm mô tả cho ảnh</h3>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">
          <div style="text-align: center">
              <i class="fas fa-images" style="font-size: 70px"></i>
          </div>
          Nhấn để upload ảnh
      </div>
      <img id="image-preview" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <button type="button" class="btn btn-lg btn-primary" style="margin-right: 2rem; background-color:#005AA6; border-color:#005AA6; border-radius: 3rem;"
            onclick="submitImage();" >
        <i class="fas fa-check"></i>
        &nbsp;
        Đồng ý
    </button>
    <button type="button"class="btn btn-lg btn-danger" style="border-color:#dc3545; border-radius: 3rem; " onclick="clearImage();">
      <i class="fas fa-trash"></i>
        &nbsp;
        Xóa
    </button>
  </div>
  <div id="image-box">
      <img id="image-display" />
  </div>

    <div id="loader" class="hidden"></div>
    <div id="pred-result"></div>
    <audio controls id="audio" class="hidden" crossOrigin = 'anonymous'></audio>
</div>

{% endblock %}
